---
status: Done
rank: a0
---
Need to do a verification of what is in SDK and what is in CLI. Not everything need to have both layers, right or where there any design decisions I had taken in the past about this
